<ul>
    <a href=" {{ path('goodness_ranking') }} "><li>Ranking</li></a>
    <a href=" {{ path('add_goodness') }} "><li>Dodaj pozycje</li></a>
</ul>

<ul class="user_form">
    <a href=" {{ absolute_url('/logout') }} "><li>Wyloguj się</li></a>
</ul>