{% if login_form is not defined %}
    {% block background %}
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
    {% endblock %}

    <div class="navigation" >
        {% if is_granted(enum('App\\Model\\RoleEnum').User.value) %}
            {% include 'navigation/login.html.twig' %}
        {% elseif is_granted(enum('App\\Model\\RoleEnum').Admin.value) %}
            {% include 'navigation/login.html.twig' %}
        {% else %}
            {% include 'navigation/logout.html.twig' %}
        {% endif %}
    </div>

    <div class="title">
        I T - G O O D N E S S - R A N K
    </div>
{% endif %}