<ul>
    <a href=" {{ path('goodness_ranking') }} "><li>Ranking</li></a>
</ul>
<ul class="user_form">
    <a href=" {{ path('user_login') }} "><li>Zaloguj się</li></a>
    <a href=" {{ path('user_register') }} "><li>Zarejestruj się</li></a>
</ul>