*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
    margin: 0;
    font-family: "Science Gothic", sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;

    .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

    .shape:first-child {
        background: linear-gradient(
            #1845ad,
            #23a2f6
        );
        left: 50px;
        top: 50px;
    }

    .shape:last-child {
        background: linear-gradient(
            to right,
            #ff512f,
            #f09819
        );
        right: 70px;
        bottom: 100px;
    }
}

.navigation {
    transition: all 0.25s ease-in;
    width: 80px;
    height: 80px;
    padding: 10px 20px;
    margin: 20px;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;

    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.title {
    transition: all 0.25s ease-in;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 80px;

    float: right;
    height: 80px;
    width: calc(100% - 200px);

    text-align: center;
    color:white;
    line-height: 60px;
    font-size: 48px;
    letter-spacing: 6px;
}

.container {
    transition: all 0.25s ease-in;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 80px;

    float: right;
    width: calc(100% - 200px);
}

.navigation:hover {
    transition: all 0.15s ease-in;
    width: 320px;
    height: calc(100% - 40px);
}

.navigation:hover ~ .title,
.navigation:hover ~ .container {
    transition: all 0.15s ease-in;
    width: calc(100% - 460px);
}
