@import "~bootstrap/scss/bootstrap";

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
    margin: 0;
    font-family: "Science Gothic", sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: fixed;

    .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

    .shape:first-child {
        background: linear-gradient(
            #1845ad,
            #23a2f6
        );
        left: 50px;
        top: 50px;
    }

    .shape:last-child {
        background: linear-gradient(
            to right,
            #ff512f,
            #f09819
        );
        right: 70px;
        bottom: 100px;
    }
}

.navigation {
    transition: all 0.25s ease-in;
    height: 80px;
    width: 80px;
    margin: 20px;
    position: fixed;

    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    
    ul {
        opacity: 0;
        width: 100%;
        margin-top: 100px;
        padding: 0;
        
        a {
            text-decoration: none;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;

            list-style: none;
            height: 40px;
            margin: 20px;
            color: white;

            background-color: rgba(255,255,255,0.08);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
        }
        
        li:hover {
            background-color: rgba(255,255,255,0.2);
        }
    }

    ul.user_form {
        position: absolute;
        bottom: 20px;
    }
}

.title {
    transition: all 0.25s ease-in;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    
    padding: 0 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;

    height: calc(100% - 140px) ;
    width: 80px;

    text-align: center;
    word-spacing: 100vw;

    color:white;
    font-size: 32px;
}

.container {
    transition: all 0.25s ease-in;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    
    padding: 10px 20px;
    margin: 20px;

    float: right;
    max-width: 100% !important;
    width: calc(100% - 140px);
}

.navigation:hover {
    transition: all 0.15s ease-in;
    height: calc(100% - 40px);
    width: 320px;

    ul {
        transition-delay: 0.15s;
        opacity: 1;
    }
}

.navigation:hover ~ .title {
    transition: all 0.15s ease-in;
    height: 0;
    border: 0;
    font-size: 0;
    overflow: hidden;
}

.navigation:hover ~ .container {
    transition: all 0.15s ease-in;
    width: calc(100% - 380px);
}

.ranking {
    .goodness {
        border: 2px solid rgba(255,255,255,0.1);
        border-radius: 10px;
        padding: 20px;
        margin: 10px 40px;
        // height: 200px;

        color: white;

        .rank {
            
            div {
                height: 40px;
                border: 2px solid rgba(255,255,255,0.1);
                margin: 10px 15px;
                border-radius: 10px;
                
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .gold {
                background-color: #ffd700;
            }
            
            .silver {
                background-color: #c0c0c0;
            }
            
            .brown {
                background-color: #a17652;
            }

            div:hover {
                border: 4px solid rgba(255,255,255);
                cursor: pointer;
            }
        }
        
        .info {
            .name {
                font-size: 24px;
            }
            
            .type {
                line-height: 24px;
                
                .type_icon {
                    float: left;
                    margin-right: 5px;
                }
            }
        }
        
        .desc {
            height: 100%;
            overflow: hidden;
        }

        .icon {
            width: 150px;
            height: 150px;
            float: right;

            background-color: rgba(255,255,255,0.1);
            border: 2px solid rgba(255,255,255,0.1);
            border-radius: 10px;
            padding: 10px;
        }
    
    }

    .goodness:hover {
        background-color: rgba(255,255,255,0.1);
    }

    clear: both;
}

form#goodness_form {
    color: white;


    .dropzone-container {
        width: 260px;
        height: 260px;
    }

    .dropzone-preview {
        margin: auto;
    }

    .dropzone-preview-filename {
        display: none;
    }

    .dropzone-preview-image {
        margin: auto;
        min-height: 200px;
        min-width: 200px;
    }
}