<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>IT GOODNESS RANK</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
            
        {% block javaccripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'nav.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>