{% extends 'template_base.html.twig' %}

{% block body %}
    {{ form_start(form, { 'attr': {'id': 'goodness_form', 'novalidate': 'novalidate'}}) }}

        <div class="row my-5 mx-1">
            
            <div class="col-12 mb-2">
                <h2>Edytuj pozycje</h2>
            </div>
        
            {% include "goodness/_form.html.twig" %}

            {{ form_row(form.save, {
                'label': 'Zapisz',
                'attr': {
                    'class': 'btn btn-primary mt-3'
                }
            }) }}

        </div>

    {{ form_end(form) }}
{% endblock %}